<div class="grid">
    
    <div class="col-12 xl:col-12">
        <div class="card">
            <h5>Organizasyonlar</h5>
            <p-table [value]="organizations" 
                [paginator]="true"  
                [resizableColumns]="true" 
                [rows]="30" 
                [tableStyle]="{'min-width': '50rem'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="parents">Üst Organizasyonlar <p-sortIcon field="parents"></p-sortIcon></th>
                        <th pSortableColumn="parents">Alt Organizasyonlar <p-sortIcon field="parents"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-organization>
                    <tr>
                      
                        <td style="width: 20%; max-width: 5rem;">{{organization.name}}</td>
                        <td style="width: 25%; max-width: 5rem;">
                            <div [innerHTML]="organization.parents | joinNames" style="white-space: pre-wrap;"></div>
                        </td>
                        <td style="width: 35%; min-width: 7rem;">
                            <div [innerHTML]="organization.subEntities | joinNames" style="white-space: pre-wrap;"></div>
                        </td>
                      
                    </tr>
                </ng-template>
            </p-table>
        </div>
       
    </div>
</div>

